/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #E6DDD5;
}

/* Header */
header {
    background-color: #AE8961;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fefefe;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #816AB3;
}

/* Hero Section */
#hero {
    background: url('img/img-6.svg') no-repeat center center/cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 22px;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: #FCAB16;
    color: #fefefe;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: #816AB3;
}

/* Container General */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
}

/* Estilos de imagenes */
.content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos de las secciones alternadas */
.content {
    width: 50%;
    padding: 8px;
}

.left {
    order: 1;
}

.right {
    order: 2;
}


.center {
    order: center;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        order: initial;
        width: 100%;
    }

}

/* Secciones */
section {
    padding: 40px 0;
}

h2 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 20px;
    color: #816AB3;
}

p, ul {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Footer */

.formulario {
    width: 50%;
    margin: auto;
    margin-bottom: 32px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

samp {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px; /* Añade 16px de espacio debajo del samp */
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="datetime-local"],
input[list] {
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus {
    border-color: #007bff;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

input[type="submit"]:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    section {
        width: 90%;
    }
}


/* Footer */
footer {
    background-color: #131313;
    color: #fefefe;
    text-align: center;
    padding: 20px 0;
}

.social-icons a {
    color: #fefefe;
    margin: 0 10px;
    font-size: 24px;
}

.social-icons a:hover {
    color: #FCAB16;
}

footer p {
    margin-top: 10px;
    font-size: 16px;
}

footer .brand {
    color: #fefefe;
    text-decoration: none;
}