/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* Header */
header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #f0a500;
}

/* Hero Section */
#hero {
    background: url('https://via.placeholder.com/1920x600') no-repeat center center/cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 22px;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: #f0a500;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: #333;
}

/* Container General */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    align-items: center;
}

/* Estilos de imagenes */
.content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos de las secciones alternadas */
.content {
    width: 50%;
    padding: 20px;
}

.left {
    order: 1;
}

.right {
    order: 2;
}


.center {
    order: center;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        order: initial;
        width: 100%;
    }

}

/* Secciones */
section {
    padding: 40px 0;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

p, ul {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

.social-icons a:hover {
    color: #f0a500;
}

footer p {
    margin-top: 10px;
    font-size: 16px;
}

footer .brand {
    color: #fff;
    text-decoration: none;
}